nifi/NiFi_Flow.json
{"flowContents":{"identifier":"80667ee4-7327-303d-b348-9214c1a05715","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"21115007-9e7a-336a-b64b-95f7de81ff9f","name":"Wait","comments":"","position":{"x":936.0,"y":8.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.Wait","properties":{"wait-buffer-count":"1","wait-mode":"wait","attribute-copy-mode":"keeporiginal","distributed-cache-service":null,"releasable-flowfile-count":"1","release-signal-id":null,"signal-counter-name":null,"expiration-duration":"10 min","target-signal-count":"1","wait-penalty-duration":null},"propertyDescriptors":{"wait-buffer-count":{"name":"wait-buffer-count","displayName":"Wait Buffer Count","identifiesControllerService":false,"sensitive":false},"wait-mode":{"name":"wait-mode","displayName":"Wait Mode","identifiesControllerService":false,"sensitive":false},"attribute-copy-mode":{"name":"attribute-copy-mode","displayName":"Attribute Copy Mode","identifiesControllerService":false,"sensitive":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"releasable-flowfile-count":{"name":"releasable-flowfile-count","displayName":"Releasable FlowFile Count","identifiesControllerService":false,"sensitive":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false},"expiration-duration":{"name":"expiration-duration","displayName":"Expiration Duration","identifiesControllerService":false,"sensitive":false},"target-signal-count":{"name":"target-signal-count","displayName":"Target Signal Count","identifiesControllerService":false,"sensitive":false},"wait-penalty-duration":{"name":"wait-penalty-duration","displayName":"Wait Penalty Duration","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["wait","expired","success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"80667ee4-7327-303d-b348-9214c1a05715"},{"identifier":"9bb03127-3d9a-3b63-8717-70aa8e417077","name":"getAPI","comments":"","position":{"x":312.0,"y":16.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://data.cityofnewyork.us/resource/erm2-nwe9.json","Content-Type":"${mime.type}","form-body-form-name":null,"max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Set Flowfile Form Data File Name","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Flowfile Form Data Name","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"3 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"80667ee4-7327-303d-b348-9214c1a05715"},{"identifier":"fbcf0700-338d-3341-8bca-76257de702a4","name":"PutElasticsearchHttp","comments":"","position":{"x":312.0,"y":432.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp","properties":{"elasticsearch-http-response-timeout":"15 secs","put-es-id-attr":null,"put-es-type":"_doc","put-es-index":"311calls","proxy-configuration-service":null,"elasticsearch-http-url":"http://localhost:9200","put-es-batch-size":"100","SSL Context Service":null,"elasticsearch-http-connect-timeout":"5 secs","Username":null,"put-es-index-op":"index","elasticsearch-http-proxy-host":null,"proxy-username":null,"elasticsearch-http-proxy-port":null,"Character Set":"UTF-8"},"propertyDescriptors":{"elasticsearch-http-response-timeout":{"name":"elasticsearch-http-response-timeout","displayName":"Response Timeout","identifiesControllerService":false,"sensitive":false},"put-es-id-attr":{"name":"put-es-id-attr","displayName":"Identifier Attribute","identifiesControllerService":false,"sensitive":false},"put-es-type":{"name":"put-es-type","displayName":"Type","identifiesControllerService":false,"sensitive":false},"put-es-index":{"name":"put-es-index","displayName":"Index","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"elasticsearch-http-url":{"name":"elasticsearch-http-url","displayName":"Elasticsearch URL","identifiesControllerService":false,"sensitive":false},"put-es-batch-size":{"name":"put-es-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"elasticsearch-http-connect-timeout":{"name":"elasticsearch-http-connect-timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"put-es-index-op":{"name":"put-es-index-op","displayName":"Index Operation","identifiesControllerService":false,"sensitive":false},"elasticsearch-http-proxy-host":{"name":"elasticsearch-http-proxy-host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"proxy-username":{"name":"proxy-username","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"proxy-password":{"name":"proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"elasticsearch-http-proxy-port":{"name":"elasticsearch-http-proxy-port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"80667ee4-7327-303d-b348-9214c1a05715"},{"identifier":"231fa2db-8218-382b-a659-e16baa4b6924","name":"SplitJson","comments":"","position":{"x":312.0,"y":224.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.SplitJson","properties":{"Null Value Representation":"empty string","JsonPath Expression":"$"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"80667ee4-7327-303d-b348-9214c1a05715"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"e9dc0119-0077-399e-b1da-8852c60e388b","name":"","source":{"id":"fbcf0700-338d-3341-8bca-76257de702a4","type":"PROCESSOR","groupId":"80667ee4-7327-303d-b348-9214c1a05715","name":"PutElasticsearchHttp","comments":""},"destination":{"id":"fbcf0700-338d-3341-8bca-76257de702a4","type":"PROCESSOR","groupId":"80667ee4-7327-303d-b348-9214c1a05715","name":"PutElasticsearchHttp","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":768.0,"y":488.0},{"x":848.0,"y":536.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80667ee4-7327-303d-b348-9214c1a05715"},{"identifier":"30a82086-0645-3556-9e29-2650a2b27a73","name":"","source":{"id":"9bb03127-3d9a-3b63-8717-70aa8e417077","type":"PROCESSOR","groupId":"80667ee4-7327-303d-b348-9214c1a05715","name":"getAPI","comments":""},"destination":{"id":"231fa2db-8218-382b-a659-e16baa4b6924","type":"PROCESSOR","groupId":"80667ee4-7327-303d-b348-9214c1a05715","name":"SplitJson","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80667ee4-7327-303d-b348-9214c1a05715"},{"identifier":"180c02ef-51b8-3e54-b6d3-6f4960d2b51d","name":"","source":{"id":"9bb03127-3d9a-3b63-8717-70aa8e417077","type":"PROCESSOR","groupId":"80667ee4-7327-303d-b348-9214c1a05715","name":"getAPI","comments":""},"destination":{"id":"21115007-9e7a-336a-b64b-95f7de81ff9f","type":"PROCESSOR","groupId":"80667ee4-7327-303d-b348-9214c1a05715","name":"Wait","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80667ee4-7327-303d-b348-9214c1a05715"},{"identifier":"b3e3932a-f0bf-371e-b697-a9230a9bbdb0","name":"","source":{"id":"231fa2db-8218-382b-a659-e16baa4b6924","type":"PROCESSOR","groupId":"80667ee4-7327-303d-b348-9214c1a05715","name":"SplitJson","comments":""},"destination":{"id":"21115007-9e7a-336a-b64b-95f7de81ff9f","type":"PROCESSOR","groupId":"80667ee4-7327-303d-b348-9214c1a05715","name":"Wait","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80667ee4-7327-303d-b348-9214c1a05715"},{"identifier":"fd4b0b79-aa4e-35e3-9454-1055f0256d64","name":"","source":{"id":"231fa2db-8218-382b-a659-e16baa4b6924","type":"PROCESSOR","groupId":"80667ee4-7327-303d-b348-9214c1a05715","name":"SplitJson","comments":""},"destination":{"id":"fbcf0700-338d-3341-8bca-76257de702a4","type":"PROCESSOR","groupId":"80667ee4-7327-303d-b348-9214c1a05715","name":"PutElasticsearchHttp","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80667ee4-7327-303d-b348-9214c1a05715"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"26f861ac-5c5a-3fc0-959b-682f402d0027","name":"JsonPathReader","comments":"","type":"org.apache.nifi.json.JsonPathReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.12.1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.12.1"}}],"properties":{"Timestamp Format":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"80667ee4-7327-303d-b348-9214c1a05715"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}